.allBooks  .mainBooks {
	background-color: #ffffff;
}

.allBooks  .books {
	width: 100%;
}

.allBooks .books_header {
	display: block;
	align-items: center;
	padding-top: 50px;
	font-weight: 500;
}

.allBooks  .books_title {
	margin-top: 40px;
	margin-bottom: 50px;
	font-size: 40px;
	color: #000;
    font-weight: 700;
}

.allBooks  .book {
	display: grid;
	grid-template-columns: 1fr ;
	grid-column-gap: 30px;
	grid-row-gap: 20px;
	margin-top: 10px;
	padding-bottom: 80px;
}


.book_intro{
	display: flex;
	background: rgb(84,51,255);
	background: linear-gradient(90deg, rgba(84,51,255,1) 0%, rgba(15,12,41,1) 0%, rgba(96,91,158,1) 50%, rgba(36,36,62,1) 100%);
	position: relative;
	border-radius: 20px ;
	box-shadow: black;
}
.alltext{
	color:white;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50px;
	display: block;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: rgb(84,51,255);
background: linear-gradient(40deg, rgba(84,51,255,1) 0%, rgba(0,70,127,1) 0%, rgba(165,204,130,1) 100%);
}
.book img{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 0.5px solid;
	height: 400px;
	width: 300px;
}

.book_avtor{
	position:absolute;
     bottom: 20px;
	 right :30px;
	font-style:italic ;
	font-weight: 900;
}

  