.mainBaner {
	width: 100vw;
	height: calc(100vh - 64px);
	background: url("https://images.wallpaperscraft.ru/image/single/zvezdnoe_nebo_zvezdy_blesk_131522_1920x1080.jpg");
	background-size: cover;
	background-position: center;
	z-index: 0;
	position: relative;
	display: flex;
	align-items: center;
	position: relative;
}

.mainBaner > .container {
	max-width: 1200px;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.banerLeft {
	color: #fff;
	width: 50%;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.banerLeft > h1 {
	font-size: 50px;
	font-weight: 400;
}

.banerLeft > h1 > span {
	font-weight: bold;
	font-style: italic;
}

.banerLeft > p {
	margin: 30px 0;
	font-style: italic;
	font-size: 25px;
}

.banerButton {
	position: relative;
	display: block;
	color: white;
	font-size: 14px;
	font-family: "montserrat";
	text-decoration: none;
	margin: 30px 0;
	border: 2px solid #205e91;
	padding: 14px 60px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 1s all ease;
	width: fit-content;
	font-weight: 600;
}

.banerButton:before {
	background: #205e91;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 0.6s ease;
}

.banerReadMore::before {
	width: 0%;
	height: 100%;
}

.banerReadMore:hover::before {
	width: 100%;
}

.banerGlobe {
	position: absolute;
	right: -300px;
	top: 0px;
	z-index: 0;
}
