.languages .container {
	display: flex;

	padding-top: 30px;
	background-color: #bdbdbd;
	margin: 0 auto;
	padding-bottom: 50px;
}
.languages {
	background-color: #bdbdbd;
}

.text {
	width: 60%;
	margin: 40px;
}

.text_title {
	font-size: 40px;
}

.text_subtitle {
	font-size: 15px;
}

.pictures img {
	top: 0;
	padding-right: 10px;
	margin-bottom: 60px;
	margin-left: -250px;
}

.text h1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	font-size: 50px;

	font-weight: 700;
}
.text p {
	width: 100%;
	font-size: 20px;
	font-weight: 200;
	font-style: italic;
	padding-top: 20px;
	margin-left: 0;
	line-height: 30px;
}

.language_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	color: rgb(0, 0, 0);
	backface-visibility: hidden;
	border: 0.3rem solid transparent;
	border-radius: 3rem;
}

.language_btn:hover {
	text-decoration: none;
	color: #000;
}

.langbtn {
	border-color: rgb(0, 0, 0);
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
	margin: 0;
	padding: 0;
}

.languages .container {
	position: relative;
}

.languages .scrollDown {
	padding-top: 60px;
	position: absolute;
	bottom: 80px;
	right: -40px;
}

.languages .scrollDown span {
	position: absolute;
	width: 24px;
	height: 24px;
	border-left: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
	cursor: pointer;
}

.languages .scrollDown.reverse span {
	transform: rotate(135deg);
	-webkit-animation: sdb02 2s infinite;
	animation: sdb02 2s infinite;
}

@-webkit-keyframes sdb02 {
	0% {
		-webkit-transform: rotate(135deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(135deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(135deg) translate(0, 0);
	}
}
@keyframes sdb02 {
	0% {
		transform: rotate(135deg) translate(0, 0);
	}
	20% {
		transform: rotate(135deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(135deg) translate(0, 0);
	}
}

@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
