.languages .container {
	display: flex;

	padding-top: 30px;
	background-color: #bdbdbd;
	margin: 0 auto;
	padding-bottom: 50px;
}
.languages {
	background-color: #bdbdbd;
}

.text {
	width: 60%;
	margin: 40px;
}

.text_title {
	font-size: 40px;
}

.text_subtitle {
	font-size: 15px;
}

.pictures img {
	top: 0;
	padding-right: 10px;
	margin-bottom: 60px;
	margin-left: -250px;
}

.text h1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	font-size: 50px;

	font-weight: 700;
}
.text p {
	width: 100%;
	font-size: 20px;
	font-weight: 200;
	font-style: italic;
	padding-top: 20px;
	margin-left: 0;
	line-height: 30px;
}

.language_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	color: rgb(0, 0, 0);
	backface-visibility: hidden;
	border: 0.3rem solid transparent;
	border-radius: 3rem;
}

.language_btn:hover {
	text-decoration: none;
	color: #000;
}

.langbtn {
	border-color: rgb(0, 0, 0);
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
	margin: 0;
	padding: 0;
}

.languages .container {
	position: relative;
}

.languages .scrollDown {
	padding-top: 60px;
	position: absolute;
	bottom: 80px;
	right: -40px;
}

.languages .scrollDown span {
	position: absolute;
	width: 24px;
	height: 24px;
	border-left: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
	cursor: pointer;
}

.languages .scrollDown.reverse span {
	transform: rotate(135deg);
	-webkit-animation: sdb02 2s infinite;
	animation: sdb02 2s infinite;
}

@-webkit-keyframes sdb02 {
	0% {
		-webkit-transform: rotate(135deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(135deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(135deg) translate(0, 0);
	}
}
@keyframes sdb02 {
	0% {
		transform: rotate(135deg) translate(0, 0);
	}
	20% {
		transform: rotate(135deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(135deg) translate(0, 0);
	}
}

@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}

.languages .rating-text p {
	color: rgba(0, 0, 16, 0.8);
	font-size: 1.3rem;
	padding: 0.3rem;
}

.languages .rating {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
	width: fit-content;
}

.languages svg {
	fill: rgb(242, 242, 242);
	height: 3.6rem;
	width: 3.6rem;
	margin: 0.2rem;
}

.languages .rating-form-2 svg {
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

.languages #radios label {
	position: relative;
}

.languages input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.languages input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.languages input + svg {
	cursor: pointer;
}

.languages input[class="super-happy"]:hover + svg,
.languages input[class="super-happy"]:checked + svg,
.languages input[class="super-happy"]:focus + svg {
	fill: rgb(0, 109, 217);
}

.languages input[class="happy"]:hover + svg,
.languages input[class="happy"]:checked + svg,
.languages input[class="happy"]:focus + svg {
	fill: rgb(0, 204, 79);
}

.languages input[class="neutral"]:hover + svg,
.languages input[class="neutral"]:checked + svg,
.languages input[class="neutral"]:focus + svg {
	fill: rgb(232, 214, 0);
}

.languages input[class="sad"]:hover + svg,
.languages input[class="sad"]:checked + svg,
.languages input[class="sad"]:focus + svg {
	fill: rgb(229, 132, 0);
}

.languages input[class="super-sad"]:hover + svg,
.languages input[class="super-sad"]:checked + svg,
.languages input[class="super-sad"]:focus + svg {
	fill: rgb(239, 42, 16);
}

.languages footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
	width: 34.6rem;
	margin: auto;
}

.languages footer p {
	font-size: 1.3em;
}
