.mainCourses {
	background-color: #696969;
}

.courses {
	width: 100%;
}

.courses_header {
	display: flex;
	align-items: center;
	padding-top: 50px;
	font-weight: 500;
}

.corses_title {
	font-size: 40px;
	color: #000;
}

.courses_btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.7rem 2rem;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: rgb(0, 0, 0);
	backface-visibility: hidden;
	border: 0.3rem solid transparent;
	border-radius: 3rem;
	margin-left: 30px;
}

.csbtn {
	border-color: rgb(0, 0, 0);
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.csbtn:hover {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.video {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 20px;
	margin-top: 20px;
	padding-bottom: 50px;
}

.video_intro {
	width: 100%;
	justify-self: center;
	height: 300px;
	margin-bottom: 10px;
	cursor: pointer;
	z-index: 2;
}

.video_intro:hover .video_text {
	color: #e8622d;
}

.video_intro img {
	width: inherit;
	object-fit: cover;
	height: 75%;
}

.video_intro:nth-child(5n - 4) {
	width: 100%;
}

.video_intro:nth-child(5n - 4) img {
	height: 85%;
}

.video_text {
	font-size: 20px;
	color: #333;
	font-weight: 500;
	transition: transform 0.2s;
	margin-bottom: 0;
	transition: color 0.3s linear;
}

.video .video_intro .video_avtor {
	font-size: 18px;
	color: grey;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 30px;
}

.video_btn {
	position: relative;
	width: inherit;
	height: inherit;
	z-index: 1;
}

.video_playbtn {
	position: absolute;
	right: 5%;
	bottom: 106%;
	border-radius: 50%;
	background-color: #ffffffeb;
	color: #000;
	font-size: 12px;
	width: 60px;
	height: 60px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
}

.video_playbtn:focus,
.video_playbtn:active {
	outline: none;
}

.video_intro:hover .video_playbtn {
	animation: zoomedBtn 0.5s linear;
}

@keyframes zoomedBtn {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
	margin: 0;
	padding: 0;
}

.mainCourses .container {
	position: relative;
}

.scrollDown {
	padding-top: 60px;
	position: absolute;
	bottom: 60px;
	right: 0;
}

.scrollDown span {
	position: absolute;
	width: 24px;
	height: 24px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
