.newPosts {
	background-color: #f6f6f6;
}

.newPosts h1 {
	color: #333;
	font-size: 36px;
	font-weight: 700;
	padding: 50px 0 30px;
}

.newPosts section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.newPosts section > a {
	width: 31%;
	margin-bottom: 30px;
	text-decoration: none;
}

.newPosts .container section article {
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	background-color: #fff;

	cursor: pointer;
}

.newPosts section article:hover .postImg img {
	transform: scale(1.1);
}

.newPosts section article:hover .postInfo h3 {
	color: #e8622d;
}

.postImg {
	width: 100%;
	height: 125px;
	overflow: hidden;
}

.postImg img {
	width: 100%;
	object-fit: cover;
	transition: transform 0.4s linear;
}

.postInfo {
	padding: 20px 30px;
}

.postInfo h3 {
	font-size: 20px;
	color: #333;
	font-weight: 500;
}

.postInfo p {
	font-size: 18px;
	color: #7e7e7e;
}
