.socials {
	background-color: #bdbdbd;
	margin: 0 auto;
}

.socials h1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	font-size: 50px;

	padding-top: 50px;
	font-weight: 700;
}
.socials p {
	width: 60%;
	font-size: 20px;
	font-weight: 200;
	font-style: italic;
	padding-top: 20px;
	margin-left: 0;
	line-height: 30px;
}

.social_links {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	padding-bottom: 50px;
	align-items: center;
}

.wrapper .button {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 0 15px;
	overflow: hidden;
	background: #fff;
	border-radius: 60px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease-out;
}

.icon a {
	color: #333;
}

.icon .icon_btn {
	text-decoration: none;
}

.wrapper .button:hover {
	width: 200px;
}

.button a:hover {
	text-decoration: none;
}

.wrapper .button .icon {
	display: inline-block;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 60px;
	box-sizing: border-box;
	line-height: 60px;
	transition: all 0.5s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
	background: #4267b2;
}

.wrapper .button:nth-child(3):hover .icon {
	background: #ffb900;
}

.wrapper .button:nth-child(2):hover .icon {
	background: #209cea;
}

.wrapper .button:nth-child(4):hover .icon {
	background: #38b3f1;
}

.wrapper .button:nth-child(5):hover .icon {
	background: #ff0000;
}

.wrapper .button:nth-child(6):hover .icon {
	background: #333;
}

.wrapper .button .icon i {
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
	color: #fff;
}

.wrapper .button span {
	font-size: 20px;
	font-weight: 500;
	line-height: 60px;
	margin-left: 10px;
	transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) {
	margin-left: 0;
}

.wrapper .button:nth-child(1) span {
	color: #4267b2;
}

.wrapper .button:nth-child(3) span {
	color: #ffb900;
}

.wrapper .button:nth-child(2) span {
	color: #209cea;
}

.wrapper .button:nth-child(4) span {
	color: #38b3f1;
}

.wrapper .button:nth-child(5) span {
	color: #ff0000;
}
.wrapper .button:nth-child(6) span {
	color: #333;
}

.subscribe {
	display: flex;
	width: 100%;
}

.subscribe__tous {
	width: 60%;
}

.subscribe__tous h1{
	margin: 0;
	padding-top: 50px;
}

.feedback {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.socials .rating {
	background-color: rgba(0, 0, 16, 0.8);
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 2.2rem;
	width: fit-content;
}

.socials .rating-text p {
	color: rgba(0, 0, 16, 0.8);
	font-size: 1.3rem;
	padding: 0.3rem;
	width: 100%;
}

.socials svg {
	fill: rgb(242, 242, 242);
	height: 3.6rem;
	width: 3.6rem;
	margin: 0.2rem;
}

.socials .rating-form-2 svg {
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

.socials #radios label {
	position: relative;
}

.socials input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.socials input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.socials input + svg {
	cursor: pointer;
}

.socials input[class="super-happy"]:hover + svg,
.socials input[class="super-happy"]:checked + svg,
.socials input[class="super-happy"]:focus + svg {
	fill: rgb(0, 204, 79);
}

.socials input[class="happy"]:hover + svg,
.socials input[class="happy"]:checked + svg,
.socials input[class="happy"]:focus + svg {
	fill: rgb(0, 109, 217);
}

.socials input[class="neutral"]:hover + svg,
.socials input[class="neutral"]:checked + svg,
.socials input[class="neutral"]:focus + svg {
	fill: rgb(232, 214, 0);
}

.socials input[class="sad"]:hover + svg,
.socials input[class="sad"]:checked + svg,
.socials input[class="sad"]:focus + svg {
	fill: rgb(229, 132, 0);
}

.socials input[class="super-sad"]:hover + svg,
.socials input[class="super-sad"]:checked + svg,
.socials input[class="super-sad"]:focus + svg {
	fill: rgb(239, 42, 16);
}

.socials footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: right;
	width: 34.6rem;
	margin: auto;
}

.socials footer p {
	font-size: 1.3em;
}

.socials .background body,
button,
input {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	letter-spacing: 1.4px;
}

.socials .background {
	position: fixed;
	top: 50%;
	left: 50%;

	display: flex;
	min-height: 100vh;
	width: 100vw;
	z-index: 10;
	transition: transform 0.3s linear;
}

.socials .background .container {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
}

.socials .background .screen {
	position: relative;
	background: rgb(10 10 39);
	border-radius: 15px;
}

.socials .background .screen:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.socials .background .screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: #4d4d4f;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.socials .background .screen-header-left {
	margin-right: auto;
}

.socials .background .screen-header-button {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
	background: white;
}

.socials .background .screen-header-button.close {
	background: #ed1c6f;
}

.socials .background .screen-header-button.maximize {
	background: #e8e925;
}

.socials .background .screen-header-button.minimize {
	background: #74c54f;
}

.socials .background .screen-header-right {
	display: flex;
}

.socials .background .screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background: #999;
}

.socials .background .screen-body {
	display: flex;
}

.socials .background .screen-body-item {
	flex: 1;
	padding: 50px;
}

.socials .background .screen-body-item.left {
	display: flex;
	flex-direction: column;
}

.socials .background .app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #ea1d6f;
	font-size: 26px;
}

.socials .background .app-title:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: #ea1d6f;
}

.socials .background .app-form-group {
	margin-bottom: 15px;
}

.socials .background .app-form-group.message {
	margin-top: 0;
}

.socials .background .app-form-group.buttons {
	margin-bottom: 0;
	text-align: right;
}

.socials .background .app-form-control {
	width: 100%;
	height: 200px;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color 0.2s;
}

.socials .background .app-form-control::placeholder {
	color: #666;
}

.socials .background .app-form-control:focus {
	border-bottom-color: #ddd;
}

.socials .background textarea {
	resize: none;
}

.socials .background .app-form-button {
	background: none;
	border: none;
	color: #ea1d6f;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	margin-left: 10px;
}

.socials .background .app-form-button:hover {
	color: #b9134f;
}

.socials .background .dribbble {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

@media screen and (max-width: 520px) {
	.screen-body {
		flex-direction: column;
	}

	.screen-body-item.left {
		margin-bottom: 30px;
	}

	.app-title {
		flex-direction: row;
	}

	.app-title span {
		margin-right: 12px;
	}

	.app-title:after {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.screen-body {
		padding: 40px;
	}

	.screen-body-item {
		padding: 0;
	}
}

@media (max-width: 1025px) {
	.rating {
		margin-left: 0;
	}

	.rating-text p {
		margin-left: 0;
	}
}

@media (max-width: 769px) {
	.subscribe__tous p{
		width: 90%;
	}

	.icon{
		font-size: 10px;
	}

	.subscribe {
		display: block;
	}

	.feedback {
		margin: 0;
		padding-bottom: 40px;
	}

	.subscribe__tous {
		width: 100%;
	}

	.social_links .wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
	}

}

	@media (max-width: 426px) {

		.wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		.wrapper .button {
			
			margin-bottom: 20px;
		}

		.wrapper .icon {
			width: fit-content;
		}
}


