.profile {
	background: #f7f7ff;
	width: 100vw;
	padding: 100px 0 100px;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid transparent;
	border-radius: 0.25rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
		0 2px 6px 0 rgb(206 206 238 / 54%);
}

.bg-primary {
	background-color: rgb(206, 206, 206) !important;
}

img {
	margin: 20px;
	height: 130px;
	width: 130px;
}

.btn-primary {
	background-color: #11324d;
	border-color: #11324d;
}

.btn-primary:hover {
	background-color: #0e283d;
	border-color: #0e283d;
}

.btn {
	margin: 20px 70px;
}
