.allPosts {
	background-color: #f6f6f6;
}

.allPosts h1 {
	color: rgb(255, 0, 0);
	font-size: 36px;
	font-weight: 700;
	padding: 50px 0 30px;
}

.allPosts section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.allPosts section a {
	text-decoration: none;
	width: 31%;
	margin-bottom: 30px;
}

.allPosts section article {
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	background-color: #fff;

	cursor: pointer;
	height: 100%;
}

.allPosts section article:hover .postImg img {
	transform: scale(1.1);
}

.allPosts section article:hover .postInfo h3 {
	color: #e8622d;
}

.postImg {
	width: 100%;
	height: 125px;
	overflow: hidden;
}

.postImg img {
	width: 100%;
	object-fit: cover;
	transition: transform 0.4s linear;
}

.postInfo {
	padding: 20px 30px;
}

.postInfo h3 {
	font-size: 20px;
	color: #333;
	font-weight: 500;
}

.postInfo p {
	font-size: 18px;
	color: #7e7e7e;
}


@media (max-width:769px) {

    .allPosts section a {
        width: 47%;
    }

    .allPosts section {
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width:426px) {

    .allPosts section a {
        width: 99%;
    }

    .allPosts section {
        display: flex;
        flex-wrap: wrap;
    }

}